apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-code-with-quarkus-1ylu
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-user-workloads-stage/christianvogt-tenant/my-app/devfile-sample-code-with-quarkus-1ylu@sha256:2bea28773316488997958528485f1253a5c7056de0fc00c3a9fd13f83defc02f
        name: my-java-quarkus
        resources: {}
status: {}
